@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,500;0,600;1,500&family=Work+Sans:wght@400;500;600&display=swap');

body {
  margin: 0;
  background-color: #FBF3E6;
  font-family: 'Work Sans', sans-serif;
}
